.publishProcess {
  background-color: #FFFFFF;
  color: #8131AF;
  left: 0;
  min-height: 100%;
  opacity: 0.6;
  overflow: auto;
  padding-top: 5%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-size: 18px;
  font-weight: bold; }

.publishProcess img {
  padding: 14px; }

/** Popup Main EMBED and UPLOAD */
#m_embed, #upload_rsrc_spc {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: left;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

#m_embed .outer_box, #upload_rsrc_spc .outer_box {
  width: 600px;
  margin: 100px auto;
  background-color: #fff;
  border: 1px solid #DBDBDB;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.outer_box1 {
  background-color: #fff;
  display: block;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.header_box {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  margin: 10px 0;
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #EEEEEE;
  padding: 9px 15px; }

.header_box .modal-title {
  float: left; }

.buttons_box_control {
  display: block;
  overflow: hidden;
  background-color: #F5F5F5;
  border-radius: 0 0 6px 6px;
  border-top: 1px solid #DDDDDD;
  box-shadow: 0 1px 0 #FFFFFF inset;
  margin-bottom: 0;
  padding: 14px 15px 15px;
  text-align: right; }

.box_body_content {
  display: block;
  max-height: 400px;
  overflow-y: auto;
  padding: 15px;
  position: relative; }

/** Popup Main EMBED and UPLOAD */
.helper-clearfix.textboxlistentry-holder.unstyled {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CCCCCC;
  float: left;
  min-height: 28px;
  width: 260px; }

.autocomplete-content .toolbar {
  display: inline-block;
  position: relative; }

/************** Category ***************/
.tagselector-content .textboxlistentry-holder li {
  margin-top: 2px; }

.textboxlistentry {
  padding: 3px 10px; }

/************** End Category ***************/
/************** Create Lesson RHS Tabs***************/
.aui .nav-tabs > li > a:hover, .aui .nav-tabs > .active > a:hover, .aui .nav-tabs > .active > a:focus {
  color: #FFFFFF;
  background: #8131AF;
  cursor: pointer; }

.aui .nav-tabs > .active > a:hover, .aui .nav-tabs > .active > a:focus {
  cursor: default; }

/************** End Create Lesson RHS Tabs***************/
/*Tabs Menu Home Page **************/
/* .aui .nav-tabs > .active > a, .aui .nav-tabs > .active > a:hover, .aui .nav-tabs > .active > a:focus { color:#8131AF; background: none; border:none; }
.nav-tabs > li.active { padding: 0px 12px !important; background-position: 50% 106% !important; } */
h1 {
  font-weight: normal !important; }

